body {
    background-image: url("../images/background.png");
    background-color: turquoise;
    color: teal;
}

h1 {
    color: teal;
}

#footer {
    text-align: center;
}

#aboutMeText {
    background-color: turquoise;
    margin-top: 5em;
    margin-left: 5%;
    width: 50%;
}

#profilepic {
    width: 35%;
}

.textWrap {
    float: left;
    margin: 10px;
}