body {
    background-image: url("../images/background.png");
    background-color: turquoise;
    color: teal;
    display: flex;
}

#aboutMeText {
    background-color: turquoise;
    margin: 2%;
    margin-top: 7em;
}

#profilePic {
    width: 35%;
    margin-right: 1%;
    margin-bottom: 1%;
}

#footer {
    text-align: center;
}