body {
    background-image: url("../images/background.png");
    background-color: turquoise;
    color: teal;
    display: flex;
    justify-content: flex-start;
    min-width: fit-content;
}

#aboutMeText {
    background-color: turquoise;
    margin: 2%;
    margin-top: 7em;
}

#profilePic {
    width: 35%;
    margin-right: 1%;
    margin-bottom: 1%;
}

#bootstrap-override img {
    height: 350px;
    width: 350px;
    margin: 1%;
}

#portfolioPics {
    background-color: turquoise;
    margin: 2%;
    margin-top: 7em;
}

#footer {
    text-align: center;
}